<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
</head>
<body class="grey lighten-3">
 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    
    
<h1 class="main-title center">bem vindo ao sistema escolura</h1>

<div class="row center">
    <div class="col s12 m4 l4 waves-effect waves-light">
        <a href="/aluno/cadastrar">
            <div class="card-panel hoverable z-depth-1 center gray lighten-4">
                <i class="large material-icons">perm_identity</i>
                <div class="truncate">Cadastrar Alunos</div>
            </div>
        </a>
    </div>
    
    
</div>
</body>
</html>